<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/changelog">Changelog</a></li>
        <li><a href="/tooling">Tooling</a></li>
        <li><a href="/photography">Photography</a></li>
    </ul>
</nav>
